%h1 No More Squabbling
%p 
	How many times have your customers tried to buy something, only to oversell, leaving you with angry disappointed customers?
	%i There's a better way

%p 
	Cart Queue helps you 
	%strong integrate queueing features
	into your shopping cart

%p 
	High demand items in your web store need not suffer from the
	%strong popcorn effect, 
	visible to shoppers one moment, then gone the next, only to reappear an hour later.

%p
	By adding 
	%strong demand management
	features into your shopping cart, your customers can wait in line,
	just as they might do in store. Except they're really not waiting at all.
	They've added this item to their cart, but they're still shopping. 
	Some will continue to checkout. Others will abandon.
	
%p
	With Cart Queue, your customers will 
	%strong know what to expect. 
	They will see their position in line to buy high demand items in their cart.
	As others ahead of them abandon their carts or decide not to buy, they will move ahead.
	When it's their turn, they may proceed with checkout.
	If the item is purchased, they'll be notified immediately that the item was sold.
